---
title: "Verificación del Codigo"
description: "Verifica tu correo electrónico para activar tu cuenta"
---

## Paso 1: Pantalla De Verificación

Observamos que la plataforma nos pide que verifiquemos nuestro correo

![Verificación de correo](https://jam.dev/cdn-cgi/image/width=2560,quality=100,dpr=1.25/https://cdn-jam-screenshots.jam.dev/eebfc4b2fb68e3d4ec89b81fadc5545b/screenshot/b2b714c9-4759-4f16-9b9e-5b5874cdcf2e.png)

## Paso 2: Revisar Correo Electrónico

Nos vamos a nuestra bandeja de entrada en el correo que agregamos anteriormente

![Bandeja de entrada](https://jam.dev/cdn-cgi/image/width=2560,quality=100,dpr=1.25/https://cdn-jam-screenshots.jam.dev/ddd96f21e7aa10e622b44b7b5c866608/screenshot/3dd1500c-3dcc-4d3b-b45f-2658c68d912b.png)

## Paso 3: Copiar Código

Copiamos el código de verificación

![Código de verificación](https://jam.dev/cdn-cgi/image/width=2560,quality=100,dpr=1.25/https://cdn-jam-screenshots.jam.dev/2899de74c3684f85da3ede776fbb0bbd/screenshot/b4e35593-179d-452c-9888-b739d08d0b73.png)

## Paso 4: Ingresar Y Verificar

Pegamos el código en el apartado de Verification Code (Código de verificación) y después presionamos en Verify Email (Verificar correo)

![Verificar email](https://jam.dev/cdn-cgi/image/width=2560,quality=100,dpr=1.25/https://cdn-jam-screenshots.jam.dev/6f80d643f085b99c0c312177dc638b5b/screenshot/1ee8afea-bb1e-429f-95f8-b01d6503a0c9.png)
